%clear_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%center_pos {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%center_pos_x {
  left: 50%;
  transform: translateX(-50%);
}

%center_pos_y {
  top: 50%;
  transform: translateY(-50%);
}

%center_pos_clear {
  top: initial;
  left: initial;
  transform: initial;
}

.c__both,
%clear_both { clear: both; }

.f__left,
%clear_left { float: left; }

.f__right,
%clear_right { float: right; }
